.ptl-container {
    display: flex;
    height: 100vh;
}

.ptl-content {
    flex-grow: 1;
    margin-left: 16rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ptl-content-left, .ptl-content-right{
    background-color: #0E0F22;
    padding: 15px;
    border-radius: 16px;
}

.ptl-content-left{
    width: 19.5%;
}

.ptl-content-right{
    width: 79.5%;
}