.minitask-list-title {
    color: white;
    margin-bottom: 1vh;
}

.minitask-list-content {
    background-color: white;
    /* height: 100%; */
    height: 64.5vh;
    width: 100%;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}